* {
    margin: auto;
    box-sizing: border-box;
}

.leftSide {
    position: fixed;
    left: 1em;
    height: 50%;
}

.rightSide {
    position: fixed;
    right: 1em;
    height: 50%;
}

.middle {
    top: 50%;
}

#startGame {
    cursor: pointer;
    font-size:50px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: -50%, -50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.dialogBox {
    width: 25%;
    height: 50%;
    font-size: 1em;
}

body {
    background: #333333;
    text-align: center;
    color: white;
}

/*
Option on the left...
*/

#leftChoice {
    position: fixed;
    opacity: 0.85;
    border-radius: 25px;
    background-color: #474747;
    color: white;
    overflow-y: auto;
    cursor: pointer;
}

/*
Option on the right... NOT the CORRECT answer
*/

#rightChoice {
    opacity: 0.85;
    background-color: #474747;
    border-radius: 25px;
    color: white;
    overflow-y: auto;
    cursor: pointer;
}

#currentPlayer {
    background-image: url('images/Entities/player.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20%;
    height: 50%;
    cursor: pointer;
}

/* Game area wont show until START button pressed */

#gameArea {
    background-image: url('images/BackDrops/backdrop2.png');
    background-attachment: fixed;
    background-size: 100% 100%;
    position: fixed;
    width: 100%;
    height: 97%;
    overflow: hidden;
    display: none;
    background-color: black;
    padding-top: 3%;
}

#story {
    font-size:1em;
    padding: 2px;
}



#footer {
    background-color: #474747;
    width: 70%;
    height: 20%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    color: white;
}